<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World Example</title>
    <script src="https://unpkg.com/htmx.org@1.6.1"></script>
  </head>
  <body>
    <b>Hello World</b>
    <form>
        <select name="state" hx-get="/get_cities" hx-target="#cities">
          <option value="CA">California</option>
          <option value="NY">New York</option>
        </select>
        <div id="cities"></div>
      </form>
  </body>
</html>